# Dependencies
node_modules/
venv/
__pycache__/

# Environment files
.env
.env.*
!.env.example

# Build outputs
dist/
build/
*.tsbuildinfo

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Expo
.expo/
web-build/
/expo-env.d.ts
/ios
/android

# Django
db.sqlite3
*.pyc

# Docker
mysql_data/
